* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 5pc auto;
    width: 70%;
    display: grid;
    grid-template-rows: minmax(200px, auto);
    grid-template-columns: 1fr 5fr 1fr;
    border: .1pc solid lightgray;
}


.navbar



